{% extends 'layouts/base.html' %} {% load static %} {% block title %} home page
{% endblock %} {% block content %}
<div class="row">
  <div class="col">
    <a href="{% url 'post.create' %}" class="btn btn-danger">Create Post</a>
  </div>
</div>

<div class="row mt-5 p-5">
  {% for post in posts %}

  <div class="col-4 p-3">
    <div class="card" style="width: 18rem">
      <img class="card-img-top" src="{{ post.get_image_url }}" alt="Card image cap" width="200" height="200" />
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{post.body}}</p>
      <a href="{{post.get_show_url}}" class="btn btn-success">Show</a>
      <a href="{{ post.get_edit_url }}" class="btn btn-primary">Edit</a>
      <a href="{{ post.get_delete_url}}" class="btn btn-danger">Delete</a>


      
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}
